<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="eczaneConnectionString" connectionString="Data Source=DESKTOP-1CBJKUC\SQLEXPRESS;Initial Catalog=eczane;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="eczaneConnectionString2" connectionString="Data Source=DESKTOP-1CBJKUC\SQLEXPRESS;Initial Catalog=eczane;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="eczaneConnectionString3" connectionString="Data Source=DESKTOP-1CBJKUC\SQLEXPRESS;Initial Catalog=eczane;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none"/>
  <add key="net.kowabunga.currencyconverter.converter" value="http://currencyconverter.kowabunga.net/converter.asmx"/>
  </appSettings>
  <system.web>
    <pages validateRequest="false" enableEventValidation="false"/>
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" timeout="1440"/>
    </authentication>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>